$deep-black: #141414;
$black: #1F1F1F;
$white: #FFF;
$gray: #E7E7E7;
$yellow: #FDE047;
$lime: #BEF264;
$emerald: #47e6a6;
$violet: #7C3AED;
$rose: #F43F5E;

// $violet-pink: #D500F9;
// $purple: #651FFF;
// $orange: #FF3D00;

$primary: $violet;
$text: $gray;
$bg: $deep-black;
$bg-elevated: $black;
$secondary: $rose;
$extra: $emerald;